.grid {
    @include adaptiveValue("margin-bottom", 80, 40);
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: rem(40);
    align-items: center;
    &__box {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: rem(30);
        @media (max-width:$mobile){
             display: flex;
             flex-direction: column; 
        }
    }
}
.row__content {
    text-align: center;
    margin: rem(5);
    display: none;
}
.content {
    &__img {
        &_none {
            @media (max-width: rem(1000)) {
                display: none;
            }
        }
        position: relative;

        img {
            max-width: 100%;
            flex: 1 1 auto;
        }
    }
    &__btn {
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        text-align: center;
        opacity: 0;
        transition: background 0.5s ease;
        @media (any-hover: hover) {
            &:hover {
                opacity: 1;
                display: block;
                background: rgba(255, 255, 255, 0.3);
            }
        }
        a {
            font-size: rem(20);
            text-transform: uppercase;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 15px 40px; /* Отступ */
            text-align: center;
            background: #000000;
            color: white;
            z-index: 1;
            transition: all 0.5s ease 0s;
            border-radius: rem(50);
            @media (any-hover: hover) {
                &:hover {
                    font-weight: 700;
                    color: rgb(0, 0, 0);
                    background: none;
                    border: 1px solid rgb(0, 0, 0);
                    text-decoration: none;
                }
            }
        }
    }
    &__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: rem(100);
        border: 1px solid rgba(0, 0, 0, 0.5);
        row-gap: rem(5);
    }
    &__title {
        @include adaptiveValue("font-size", 24, 16);
        line-height: math.div(28, 24);
    }
    &__text {
        @include adaptiveValue("font-size", 16, 10);
    }
}
#loadMore {
    width: rem(200);
    color: #fff;
    display: block;
    text-align: center;
    margin: rem(10) auto;
    padding: rem(10);
    border-radius: rem(50);
    border: 1px solid transparent;
    background-color: rgb(0, 0, 0);
    transition: 0.3s;
}
#loadMore:hover {
    color: rgb(0, 0, 0);
    background-color: #fff;
    border: 1px solid rgb(0, 0, 0);
    text-decoration: none;
}
.noContent {
    color: #000 !important;
    background-color: transparent !important;
    pointer-events: none;
}
